@model Task01.Models.FullOrderModel

@{
    ViewBag.Title = "Информация о заказе";
}

<h2>Open</h2>

<div>
    <h4>
        Заказ №
        @Html.DisplayFor(model => model.OrderID)
    </h4>
    <hr />

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayFor(model => model.OrderID)
            </th>
            <th>
            </th>
         </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayFor(model => model.EmployeeID)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = Model.OrderID, field = @Html.NameFor(model => model.EmployeeName),
               value = Model.EmployeeID}, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayFor(model => model.CustomerID)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayFor(model => model.CustomerName)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = Model.OrderID, field = @Html.NameFor(model => model.CustomerName),
               value = Model.CustomerID }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayFor(model => model.OrderDate)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = Model.OrderID, field = @Html.NameFor(model => model.RequiredDate),
               value = Model.RequiredDate }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShippedDate),
               value = Model.ShippedDate }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayFor(model => model.status)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShipVia)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShipVia),
               value = Model.ShipVia }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShipName)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShipName),
               value = Model.ShipName}, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShipAddress)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShipAddress),
               value = Model.ShipAddress }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipCity)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShipCity)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShipCity),
               value = Model.ShipCity }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipRegion)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShipRegion)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShipRegion),
               value = Model.ShipRegion }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipPostalCode)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShipPostalCode)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShipPostalCode),
               value = Model.ShipPostalCode }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipCountry)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShipCountry)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.ShipCountry),
               value = Model.ShipCountry }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayFor(model => model.Freight)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Editing", new { id = @Model.OrderID, field = @Html.NameFor(model => model.Freight),
               value = Model.Freight }, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayFor(model => model.Price)
            </th>
            <th>
            </th>
        </tr>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayFor(model => model.ProductID)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayFor(model => model.ProductName)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Creating", null, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Creating", null, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayFor(model => model.Quantity)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Creating", null, new { @class = "openModalView" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayFor(model => model.Discount)
            </th>
            <th>
                @Html.ActionLink("Редактировать", "Creating", null, new { @class = "openModalView" })
            </th>
        </tr>*@

    </table>
</div>
<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>


@section scripts
{
    @Scripts.Render("~/Scripts/ModalView.js")
}